extends /common/layout
block header
	include /common/header
block content
	main#home
		.hero
			.hero--title
				| Hello! I'm Adonis,
			.hero--subtitle
				| a&nbsp;
				b
					| Frontend Engineer
				| &nbsp;currently working for&nbsp;
				a(href="http://viaplay.com", target="_blank")
					| Viaplay
				| .
		.blocks
			include /mixins/block
			each item in blocks
				+block(item)
block footer
	include /common/footer
