extends /common/layout
block header
	include /common/header
block content
	main#home
		.hero
			.hero--title
				| Hi! I'm Adonis
			.hero--subtitle
				| a Frontend Engineer from Greece.
block footer
	include /common/footer
