extends /common/layout
block header
	include /common/header
block content
	main#projects
		h1
			| Projects
		.projects
			include /mixins/project
			each item in projects
				+project(item)
		h2
			| There is more!
		p
			b
				| You can projects that weren't listed here in my accounts at&nbsp;
				a(href="https://github.com/varemenos")
					| Github
				| &nbsp;and&nbsp;
				a(href="https://codepen.io/adonisk", target="_blank")
					| Codepen
block footer
	include /common/footer
