extends /common/layout
block header
	include /common/header
block content
	main#projects
		h1
			| Projects
		.projects
			include /mixins/project
			each item in projects
				+project(item)
		h2
			| More
		p
			b
				| There are many more projects that weren't listed here in my&nbsp;
				a(href="https://github.com/varemenos")
					| Github account
block footer
	include /common/footer
