extends /common/layout
block header
	include /common/header
block content
	include /mixins/subheader
	+subheader(subheader.resume)
	main#resume
		h1
			| Resume
		#introduction(itemscope, itemtype="http://schema.org/Person", style="padding-bottom: 0")
				h2
					| Introduction
				div(itemprop="description")
					p
						| My name is
						span(itemprop="name")
							|  Adonis Kakoulidis
						|  and I am a Software Engineer from
						span(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
							span(itemprop="addressLocality")
									|  Thessaloniki
							|,
							span(itemprop="addressCountry")
								|  Greece
						|.
					p
						| I specialize in Frontend web development with a focus on clean and efficient (S)CSS and JavaScript code with over #{new Date().getFullYear() - 2008} years of experience. I've studied Software Engineering at the Technological Institute of Central Greece and my tools of trade consist of a text editor, a Linux Distribution (usually ArchLinux), a terminal emulator, various CLI tools, Adobe Photoshop and more.
					p
						| In my free time, I usually try to put my imagination and creativity into implementing stuff with SCSS and JavaScript (usually in codepen or codemagic) and create or contribute on new and exciting open source side-projects.
					p
						| My past is filled with design-oriented projects, primarily digital art using tools like Adobe Photoshop, Inkscape, Adobe After Effects and Cinema4D. From photo manipulation, to 3D modeling, to abstract 3D art and special video effects.
		#skills-and-expertise
			h2
				a(href="#skills-and-expertise")
				| Skills &amp; Expertise
			ul
				li
					h3
						| Me
					ul
						li
							| Curious about anything and everything, pasionate, eager to learn and a quick study;
						li
							| Self-starter;
						li
							| Team player;
						li
							| Dedicated to providing high quality work with a lot of attention to details;
						li
							| Knowledgeable about various computer technology topics, be it the hardware, software, networking etc.
				li
					h3
						| Web Technologies
					ul
						li
							| Exceptional HTML, CSS, JavaScript knowledge;
						li
							| Excellent UI and Javascript debugging and reverse engineering;
						li
							| Able to do design & UX research, wireframing, mockups;
						li
							| "Photoshop Veteran," with more than #{new Date().getFullYear() - 2006} years of experience;
						li
							| Well informed about any new web-related trends, technology advances, software design patterns and various other topics related to my work.
				li
					h3
						| Other
					ul
						li
							| Git;
						li
							| Cross browser support;
						li
							| Accessibility;
						li
							| Testing;
						li
							| Process Automation;
						li
							| Unix & CLI;
						li
							| Branding, Graphics & Print (styleguides, logos, banners, cards, posters etc);
						li
							| Photo &amp; Video Manipulation;
						li
							| Training and consulting.
		#experience
			h2
				a(href="#experience")
				| Experience
			ul
				li
					h3
						| Frontend Engineer at
						span(itemscope, itemtype="http://schema.org/Organization")
							span(itemprop="name")
								|  Goodvidio
					h4
						| April 2014 - Present
					p
						a(href="http://goodvid.io")
							| [site]
				li
					h3
						| Freelance and Volunteer
					h4
						| 2008 - 2013
					p
						| In the past I did a lot of (solo) freelance work. I also supported various communities by providing both front-end and back-end development services.

		#education
			h2
				a(href="#education")
				| Education
			ul
				li
					h3
						| Bachelor of Science (B.Sc.), Software Engineering at the Technological Educational Institute of Central Greece.
				li
					h3
						| Democritus Technological Highschool of Thessaloniki, Greece.
block footer
	include /common/footer
