extends /common/layout
block header
	include /common/header
block content
	include /mixins/subheader
	+subheader(subheader.tools)
	main#tools
		h1
			| Tools
		.tools
			include /mixins/tool
			each item in tools
				+tool(item)
block footer
	include /common/footer
