button#menu
header
	h1.brand
		| Adonis K.
	h2.brand
		| Frontend Engineer
	.brand-image
	include /common/navigation
	include /common/links
	a(rel='me' href='https://mastodon.social/@adonisk') Mastodon
