extends /common/layout
block header
	include /common/header
	link(rel='stylesheet', href='/css/blog.css')
block content
	each post in posts
		article.post
			h2.post_title
				a(href="#{post.path}")
					| #{post.title}
			.post_content
				main
					| #{post.description}
				a.post_read_more(href="#{post.path}")
					| Read more
block footer
	include /common/footer
