@import "_verepo";
@import "assets/_vlogo";
@import "assets/_ham_menu";

@include normalize;

@function base64 ($img, $type:"jpeg") {
	@if ($type == "svg") {
		@return "data:image/svg+xml;base64," + $img;
	} @else if ($type == "png") {
		@return "data:image/png;base64," + $img;
	} @else if ($type == "jpeg") {
		@return "data:image/jpeg;base64," + $img;
	}
}

// $main-color: #58a;
// $main-color: #335;
// $main-color: #333;
$main-color: #933;

html{
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body{
	background-color: $main-color;
	overflow-x: auto;
	overflow-y: scroll;
}

a{
	&,
	&:visited{
		color: $main-color;
		text-decoration: none;
	}

	&:hover{
		text-decoration: underline;
	}
}

h1{
	margin: 2rem 0;
}

#wrap{
	max-width: 1140px;
	margin: 0 auto;
}

header{
	display: flex;
	background-color: $main-color;
	text-rendering: optimizeLegibility;

	@media only screen and (max-device-width: 599px) {
		position: fixed;
		z-index: 15;
		top: 3rem;
		right: 100%;
		height: 100%;
		width: 100%;
		transition: right 350ms;
	}

	&.opened{
		right: 0%;
	}
}

.brand{
	display: none;
}

#menu,
.brand-image{
	height: 3rem;
	width: 3rem;
	line-height: 1rem;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#menu{
	display: none;
	vertical-align: initial;
	background-image: url(base64($ham_menu, "svg"));
	background-color: transparent;
	background-size: initial;
	border: none;
	box-shadow: none;

	@media only screen and (max-device-width: 599px) {
		display: block;
	}
}

.brand-image{
	display: block;
	vertical-align: bottom;
	background-image: url(base64($vlogo));
	background-color: #333;
	background-size: contain;
}

#navigation{
	flex-grow: 1;
}

#navigation,
#navigation-links{
	display: block;

	a{
		@media only screen and (max-device-width: 599px) {
			display: block;
			text-align: center;
		}

		display: inline-block;
		padding: 1rem;
		line-height: 0;
		font-weight: bold;
		outline: none;
		transition: background 250ms ease-out, color 250ms ease-out;

		&,
		&:visited{
			color: #fff;
			text-decoration: none;
		}

		&.active{
			color: #fff;
			background-color: darken($main-color, 5%);
		}

		&:hover{
			color: #f96;
			background-color: darken($main-color, 5%);
		}
	}
}

#sub-navigation{
	background-color: darken($main-color, 5%);

	a{
		display: inline-block;
		padding: 0.75rem;
		font-size: 0.8rem;
		text-decoration: none;
		outline: none;
		transition: background 250ms ease-out, color 250ms ease-out;

		&,
		&:visited{
			color: #fff;
		}

		&:hover{
			color: #f96;
			background-color: darken($main-color, 10%);
		}

		&.active{
			background-color: darken($main-color, 10%);
		}
	}

	&.sticky{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		max-width: 1140px;
		margin: 0px auto;
	}
}

main{
	@include clearfix;
}

#resume{
	padding: 0 2rem 2rem 2rem;
	color: #444;
	background-color: #fff;

	& > div{
		padding: 0 0 2rem 0;
		background-color: #fff;
		border: 1px solid transparent;
		transition: background-color 250ms;

		&:target{
			h2 .section-anchor{
				background-color: #ec9;
			}
		}

		&:last-child{
			padding-bottom: 0;
		}
	}

	ul{
		padding-left: 1.5rem;
	}

	p{
		line-height: 1.618em;
	}
}

#resume,
#projects,
#tools{
	padding: 2rem;
	background-color: #fff;

	h1{
		margin-top: 0;
	}

	h2{
		box-sizing: border-box;
		margin: 0;
		padding: 0.5em 0;
		border-bottom: 1px solid #eee;

		&:hover{
			border-color: #ddd;

			.section-anchor{
				background-color: #ddd;
			}
		}
	}

	h1,
	h2,
	h3{
		color: #222;
	}

	h3{
		color: #444;
	}

	h4,
	p{
		color: #666;
	}

	h3,
	h4,
	h5,
	h6{
		font-weight: normal;
	}

	li{
		margin-top: 0.5em;
	}
}

#home{
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	background-color: $main-color;

	.blocks {
		display: flex;
		flex-wrap: wrap;

		@media only screen and (max-device-width: 599px) {
			display: initial;
			flex-wrap: initial;
			padding: initial;
		}
	}

	.block {
		display: block;
		box-sizing: border-box;
		width: 50%;
		margin-top: 2.5rem;
		padding: 1rem 2rem;
		color: $main-color;
		background-color: #fff;
		border-right: 2.5rem solid $main-color;
		transition: 250ms color ease-in-out, 250ms background-color ease-in-out;

		&:hover {
			text-decoration: none;
			// color: #f96;
			// background-color: darken($main-color, 5%);
		}

		&:nth-child(2n) {
			border-right: none;
		}

		.icon {
			margin-right: 0.25em;
			padding: 0.25em;
			background: $main-color;
			border-radius: 3px;

			&,
			& + span {
				line-height: 1;
				vertical-align: middle;
			}
		}

		@media only screen and (max-device-width: 599px) {
			width: 100%;
			border-right: none;
			margin-top: 1rem;
		}
	}
}

.hero{
	box-sizing: border-box;
	display: block;
	margin: 0;
	width: 100%;
	padding: 0.75em;
	font-weight: bold;
	font-size: 2.5em;
	text-align: center;
	line-height: 1em;
	color: #444;
	text-rendering: optimizeLegibility;
	background: #fff;

	&--title{
		line-height: 1;
		margin-bottom: 1rem;
	}

	&--subtitle{
		line-height: 1;
		font-size: 0.5em;
		font-weight: normal;
	}
}

#selection,
#settings{
	display: none;
	padding: 1rem;
	font-size: 0.8rem;
	color: #fff;
	background-color: darken($main-color, 10%);
	border-top: 1px solid darken($main-color, 12.5%);

	&.active{
		display: flex;
	}

	button,
	label,
	input,
	a{
		margin-right: 0.5rem;

		&:last-child{
			margin-right: 0;
		}
	}

	input{
		flex-grow: 1;
		padding: 0 0.5rem;
		border: none;
	}

	label{
		display: inline-block;
		padding: 0.45rem;
		color: #222;
		outline: none;
		color: #222;
		background-color: #fff;
		border: none;
	}

	select{
		color: #222;
		outline: none;
		color: #222;
		background-color: #fff;
		border: none;
	}

	a,
	button{
		display: inline-block;
		padding: 0.5rem;
		outline: none;
		color: #222;
		background-color: #fff;
		border: none;
		transition: background-image 250ms ease-out;

		&:hover{
			background-color: darken(#fff, 10%);
		}

		&:active{
			background-color: darken(#fff, 20%);
		}
	}

	input[type="checkbox"]{
		vertical-align: middle;
	}
}

.editor{
	box-sizing: border-box;
	position: relative;
	float: left;
	width: 50%;
	padding: 1rem;
	background-color: darken($main-color, 10%);
	border-top: 1px solid darken($main-color, 12.5%);

	#edit,
	#output{
		height: 350px;
	}

	&#inputEditor{
		border-right: 1px solid darken($main-color, 12.5%);
	}
}

.editorTitle{
	margin: 0;
	padding: 0 0 1rem 0;
	line-height: 1rem;
	font-weight: bold;
	font-size: 1rem;
	color: #ccc;
}

footer{
	background-color: $main-color;

	p{
		margin: 0;
		padding: 1rem;
		color: #fff;
		text-align: center;
	}
}

.clearfix{
	@include clearfix;
}

#scroll2top{
	display: none;
	position: fixed;
	bottom: 1em;
	right: 1em;
	background: #fff;
	padding: 0.75em;
	font-size: 1em;
	line-height: 0;
	border: none;
	box-shadow: 0 0 2px #000;

	.icon {
		background-color: #666;
	}
}

.projects {
	display: flex;
	flex-wrap: wrap;
}

.project {
	box-sizing: border-box;
	width: 50%;
	border-right: 2.5em solid rgba(0, 0, 0, 0);

	h2 {
		display: flex;
	}

	&--title {
		flex: 1;
	}

	&--links {
		font-weight: lighter;
	}

	p {
		text-align: justify;
	}

	&:nth-child(2n) {
		border-right: none;
	}

	@media only screen and (max-device-width: 599px) {
		width: 100%;
		border-right: none;
	}
}

.icon {
	height: 1em;
	width: 1em;
	vertical-align: text-bottom;
}
